# Lua formating
yay -S lua-format
yay -S stylua-bin
# go formating/linting
go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest
go install golang.org/x/tools/cmd/goimports@latest
go install github.com/daixiang0/gci@latest
